<aside class="blog-sidebar">
  <h2>Archives</h2>
  <ul class="archives-list">
    {% for monthGroup in collections.postsByMonth %}
      {% set monthKey = monthGroup.month %}
      <li>
      <a href="{{ ('/blog/archive/' + m.month + '/') | url }}">{{ m.month | monthYearPt }}</a>
        {{ m.month | monthYearPt }}
      </a>
      </li>
    {% endfor %}
  </ul>
</aside>
