---
pagination:
  data: collections.postsByMonth
  size: 1
  alias: monthGroup
permalink: "blog/archive/{{ monthGroup.month }}/index.html"
title: "biblioteca"
---
{% include "header.njk" %}
<div class="content-wrapper">
  <main class="archive-page">
    <h1>arquivo · {{ monthGroup.month | monthYearPt }}</h1>
    {% if monthGroup.posts and monthGroup.posts.length %}
      <ul class="post-list">
        {% for post in monthGroup.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          <small> · {{ (post.__safeDate or post.date) | datePt }}</small>          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>nenhum post para esse mês!</p>
    {% endif %}

    <p><a href="/blog/">← de volta a todos os posts</a></p>
  </main>

  {% include "sidebar.njk" %}
</div>
{% include "footer.njk" %}
